footer {
    padding: 30px $outer_padding;
    background-image: url("img/footer-bg.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    overflow: hidden;

    & a {
        color: grey;
        font-size: 0.8rem;
    }

    & h4 {
        font-size: 1.5rem;
        padding: 10px 0px;
    }

    & nav {
        color: white;
        display: flex;
        width: 60%;
        line-height: 20px;
    }

    & .dc-logo {
        background-repeat: no-repeat;
        background-image: url('img/dc-logo-bg.png');
        width: 800px;
        height: 800px;
        transform: translateY(-100px);
    }
}