header {
    padding: 0px $outer_padding;
    background-color: white;

    & .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px;
    }

    & ul {
        display: flex;
        text-decoration: none;
    }
    & a{
        color: black
    }
   
}