header {
    padding: 0px $outer_padding;
    background-color: white;

    & .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px;
    }

    & ul {
        display: flex;
        text-decoration: none;
    }

    & a {
        color: black
    }

    & .active a:hover {
        color: #0B7CEC;
        padding: 50px 0px;
        border-bottom: 3px solid #0B7CEC;
    }

}