main {
    color: white;

    & section:nth-child(1) {
        background-color: #1C1C1C;
        padding: 50px $outer_padding;
    }

    & section:nth-child(2) {
        background-color: #0B7CEC;
        padding: 50px $outer_padding;
        justify-content: center;
        width: 100%;
    }

    & .banner {
        display: flex;
    }
    & .banner img {
        height: 60%;
    }
    
    & ul {
        display: flex;
    }
    
    & li {
        display: flex;
        align-items: center;
    }
    & span {
        padding-left: 10px;
    }
}