@mixin flex_center($axis) {
    display: flex;

    @if $axis == 'main' {
        justify-content: center;
    }

    @else if $axis == 'cross' {
        align-items: center;
    }

    @else {
        justify-content: center;
        align-items: center;

    }
}